*/*/*/*.o
*/*/*/*.def
*/*/*/*.a
*/*/*/*.so
*/*/*/*.dll
*/*/*/*/*.o
*/*/*/*/*.so
*/*/*/*/*.dll
*/*/*/*/*.def
*/*/*/*/*.a
*/*.hex
*/*.depend
*.exe
*/*.exe
*.o
*.dll
*.so
*.lib
*.depend
*/*.dbg
*/backup
*/lib
*/*.lps
*/*.res
*.layout
*/*.layout
release*/*
release*/*/*
updigui/updigui
